[submodule "deps/actionbarsherlock"]
	path = deps/actionbarsherlock
	url = https://github.com/longjl/actionbarsherlock.git
[submodule "deps/PullToRefreshLibrary"]
	path = deps/PullToRefreshLibrary
	url = https://github.com/longjl/PullToRefreshLibrary.git
